*,:after,:before{
	box-sizing:border-box}
	
:root{
	font-size:18px;}
	
body{
	margin:0;

place-items: center;
  align-content: start;
 overflow-x: hidden;
	--color-text:#f25301;
	--color-text-alt:#f25301;
	--color-alt:#6c7377;
	--color-text-button:#fff;
	--color-bg:#090a0b;
	--color-link:#ffff;
	--color-link-hover:#f25301;
	--color-deco:#6c7377;
	color:var(--color-text);
	background-color:var(--color-bg);
	font-family:"sofia-pro",sans-serif;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

	
	a{
		text-decoration:none;
		color:var(--color-link);
	 font-family: 'Germania One', sans-serif;
}
		
	a,a:hover{
		outline:none
	}
	
	a:hover{
		color:var(--color-link-hover)
	}
	
	a:focus{
		outline:none;background:#d3d3d3
	}
	
	a:focus-visible,a:focus:not(:focus-visible){
		background:transparent
	}
		
	a:focus-visible{
		outline:2px solid red
	}
	
	.unbutton{
		background:none;
		border:0;
		padding:0;
		margin:0;
		font:inherit
	}
	
	.unbutton:focus{
		outline:none
	}
	
	.js .oh{
		display:inline-block;
		position:relative;
		overflow:hidden
	}
	
	.js .oh>span{
		display:inline-block;
		will-change:transform
	}
	
/* cursor */
.cursor-wrap {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
} 

.cursor {
  position: fixed;
  top: -30px;
  left: -30px;
}

.circle {
  width: 80px; /* Set the width and height to your desired size */
  height: 30px;
  border: 3px solid #f25301; /* Set the border color to orange */
  border-radius: 50%;
  color: #fff;
  transform: scale(.8);
  transition: all .2s ease-in-out;
  mix-blend-mode: difference; /* Set the mix blend mode */
}

/* Hover effect for tag links */
a:hover {
  mix-blend-mode: hard-light;
  background-color: #fff;
  border-radius: 30px;
  opacity: 0.1;
  backdrop-filter: blur(10px);
}


body::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: #f2530180; /* Set the color of the scrollbar thumb */
  border-radius: 6px; /* Set the border-radius for a rounded thumb */
}

/* Optional: Change the color of the scrollbar track (background) */
body::-webkit-scrollbar-track {
  background-color: #090a0b; /* Set the color of the scrollbar track */
}

a {
        text-decoration: none;
        color: var(--color-link);
        outline: none;
        font-family: 'Germania One', cursive;

}

a:hover,
a:focus {
        color: var(--color-link-hover);
        outline: none;
}	

p {
	font-weight: 300;
	color: #f25301;
	font-size: 18px;
	text-align: left;
	padding-top: 40vh;

}

/** text pos **/


h4 {
  font-weight:500;
  font-family: 'Germania One', cursive;
  font-size: 30px;
  background: linear-gradient(100deg, #090a0b, #090a0b, #f25301);
  padding-top: 50vh;
  letter-spacing: 10px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 10s linear infinite;
  position: relative;
  text-align: center;
  line-height: 100px;

}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 100%;
  }
}

@media (max-width: 600px) {
  h4 {
    font-size: 50px; /* Adjust the font size for smaller screens */
  }
}

@media (max-width: 600px) {
  p {
    font-size: 18px; /* Adjust the font size for smaller screens */
    width: 160%; /* Set a different width for smaller screens */
    margin: 0 -55px ; /* Center the paragraph on smaller screens */
    padding-top: 10vh; /* Adjust the padding for smaller screens */
  }
}

/** Content **/

.title{
  font-weight:800;
  font-family: 'Germania One', cursive;
  font-size: 70px;
  background: linear-gradient(90deg, #090a0b, #090a0b, #f25301);
  padding-bottom: 50px;
  padding-top: 145px;
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 90%;
  animation: shine 10s linear infinite;
  position: relative;
  text-align: left;
}

section{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('../img/wall1.png');
  background-repeat: no-repeat;
  background-size:contain;
  background-attachment: fixed;
  clip-path: circle(0% at center);
}
.container{
  position:relative;
  top: 200vh;
  background-color: #fff;
  border-radius: 30px;
  padding: 5rem;
  font-size: 1.5rem;
  font-family: 'sofia-pro', sans-serif;
}