* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.head1 {
  font-size: 3rem;
  font-family: sofia-pro, sans-serif;
  font-weight: strong;
  color:  #f25301;
  text-align: center;
  margin: 2rem 0;
}


h5 {
  font-weight:800;
  font-family: 'Germania One', cursive;
  font-size: 60px;
  padding-bottom: 50px;
  padding-top: 145px;
  letter-spacing: 5px;
  position: relative;
  text-align: center;
  -webkit-text-stroke: 1.5px rgb(255 255 255);
	text-stroke: 1.5px #f2530180;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	color: transparent;
	transition: opacity 0.4s;	

}	

/* Media query for smaller screens */
@media (max-width: 600px) {
  
    h5 {
    font-size: 32px; /* Adjust the font size for smaller screens */
  }
}


.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
  padding-top: 20vh; 
}

.cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.col {
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.front, .back {
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-position: center;
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  border-radius: 20px;
  color: #fff;
  font-size: 1.5rem;
}

.back {
  background: #f25305;
  background: -webkit-linear-gradient(45deg, #f25305 0%, #00000 100%);
  background: -o-linear-gradient(45deg, #090a0b 0%, #6c7377 100%);
  background: linear-gradient(45deg, #f25305 0%, #0000 100%);
}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  opacity: .8;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.container:hover .front, .container:hover .back {
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.inner {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
}

.container .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front .inner p {
  font-size: 25px;
  margin-bottom: 2rem;
  font-family: 'Germania One', cursive;
  position: relative;
}

.front .inner p:after {
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'sofia-pro', sans-serif;
  font-size: 25px;
  font-weight: 300;
}

@media screen and (max-width: 64rem) {
  .col {
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem) {
  .col {
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem) {
  .col {
    width: 100%;
    margin: 0 0 2rem 0;
  }
}

body {
  background-color:  #090a0b;
}

/* index form */

form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}
form input,
form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 20px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: "sofia-pro", sans-serif;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
form input:focus,
form textarea:focus {
  -moz-box-shadow: 0 0px 2px #f25301 !important;
  -webkit-box-shadow: 0 0px 2px #fff !important;
  box-shadow: 0 0px 2px #f25301 !important;
}
form #input-submit {
  color: #090a0b;
  background: #f2530180;
  cursor: pointer;
}
form #input-submit:hover {
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}
form textarea {
  height: 126px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
  
  h4.homecontact {
	padding-top: 90vh;
	
}
  
}
/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/* bruce banner */

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.linksmyfoot {
  gap: 10px;
  flex-direction: column;
  font-size: 24px;
}

p.legal {
  font-size: 16px;
  margin: 0;
  text-align: center;
  font-weight: 500;
  color: #fff;
  line-height: 2em;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 370px;
}

section.myfoot {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
  padding-bottom: 60px;
  padding-left: 60px;
  width: 100%;
}

@media (width > 420px) {
  section.myfoot {
    align-items: center;
    padding-left: 0;
    gap: 20px;
  }

  .linksmyfoot {
    gap: 20px;
    flex-direction: row;
  }
}

@media (max-width: 480px) {
  .linksmyfoot {
    font-size: 18px;
  }
  
}


/* github card */

.card {
  width: 320px;
  height: 160px;
  padding: 20px;
  color: white;
  background: #090a0b;
  border: 2px solid #f2530180;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  cursor: pointer;
  transform-origin: center center;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: auto; /* Center the card horizontally */
  margin-top: 20px; /* Adjust the top margin for vertical centering */
}

.card .main-content {
  flex: 1;
}

.header {
  margin-bottom: 24px;
}

.card .heading {
  font-size: 25px;
  font-weight: 400;
  line-height: 1.2;
}

.card .footer {
  font-weight: 400;
  margin-right: 4px;
}

.card:hover {
  border-radius: 96px;
  background-color: #f2530180;
  transform: scale(0.95) rotate(8deg); /* Correct the property names */
  box-shadow: 0px 3px 187.5px 7.5px rgba(255, 107, 0, 0.4);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .card {
    width: 80%; /* Adjust the width for smaller screens */
  }
}

